#name {
  font-size: 56px;
  text-align: center;
}
body {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/images/pexels-photo-325185.jpeg);
  background-size: cover;
  height: 100vh;
  background-position: center;
  font-family: 'Roboto Condensed', sans-serif;
}
#Current {
  margin-top: 30px;
  width: 300px;
  height: 100px;
  border: 1px solid blue;
  box-sizing: border-box;
  margin-left: 20px;
}
#Recommended {
  margin-top: 10px;
  width: 300px;
  height: 100px;
  border: 1px solid blue;
  box-sizing: border-box;
  margin-left: 20px;
  
}
#Top-Cities {
  margin-top: 10px;
  width: 300px;
  height: 250px;
  border: 1px solid blue;
  box-sizing: border-box;
  margin-left: 20px;
}
#login-signup {
  margin-top: 10px;
  width: 300px;
  height: 180px;
  border: 1px solid blue;
  box-sizing: border-box;
  margin-left: 20px;
}
p {
  text-align: center;
  color: white;

}
#description {
  font-size: 18px;
}
.s3 {
  background-color: rgba(34, 33, 33, 0.897);
  height: auto;
}
.input-field {
  margin-left: 500px;
}
.btn-large {
margin-left: 480px;
}
#first_name2{
  display: flex;
  justify-content: center;
}
.email {
  margin-top: 50px;
}