#name {
  font-size: 56px;
  text-align: center;
}
body {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/images/pexels-photo-325185.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  font-family: 'Roboto Condensed', sans-serif;
}
#Current {
  margin-top: 30px;
  width: 300px;
  height: 100px;
  border: 1px solid blue;
  box-sizing: border-box;
  margin-left: 20px;
}
#Top-Cities {
  margin-top: 10px;
  width: 300px;
  height: 250px;
  border: 1px solid blue;
  box-sizing: border-box;
  margin-left: 20px;
}
#login-signup {
  margin-top: 10px;
  width: 300px;
  height: 300px;
  border: 1px solid blue;
  box-sizing: border-box;
  margin-left: 20px;
}
p {
  text-align: center;
  color: white;

}
#description {
  font-size: 18px;
}
.s3 {
  background-color: rgba(78, 75, 75, 0.897);
  height: auto;
}
.input-field {
  float: left;
}
.btn-large {
margin-left: 480px;
}
#first_name2{
  display: flex;
  justify-content: center;
}
.email {
  margin-top: 10px;
}
.login {
  margin-right: 50px;
}
.sign-up {
  margin-left: 50px;
}
ul {
  align-items: center;
  list-style-type: none;
  margin-right: 300px;
}
.a {
  margin-right: 200px;
}
ul li {
  display: inline-block;
}
ul li a {
  text-decoration: none;
  color: aquamarine;
  padding: 5px 20px;
  border: 1px solid #fff;
}
.foot {
background-color: turquoise;
}
.form {
  margin-left: 500px;
}